#pricing{
    text-align: center;
    
}
#pricing h2{
    font-size: 400%;
    font-weight: lighter;
    margin-bottom:0 ;
}
#pricing p {
    font-size: 140%;
    color: rgb(99, 98, 98);
    margin-top: 0;
}
#table{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 150%;
    padding: 0 10%;
}

#table div{
    border-radius: 10px;
    flex-basis:60% ;
    padding-bottom: 2%;
}

#table ul{
    list-style:none;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    padding:0;
    gap: 5px;
    align-items: center;
}

.card{
    border: 1px solid #dbdbdb;
}

.card h3{
    border-bottom:2px solid #dbdbdb;
    border-radius : 10px 10px 0 0 ;
    margin: 0;
    background-color: #f8f8f8;
    padding: 15px 0  ;
    font-weight: lighter ;
    
}

#black h3{
    border-radius : 10px 10px 0 0  ;
    background-color: #212529;
    color: white;
    
}
#black{
   border: 2px solid #212529 ;
   border-top: 0;
}

.card button{ 
    background-color: #212529;
    color: white;
    border-style:none ;
    border-radius:12px ;
    margin:0 2px 0 2px;
    padding: 0;
    height:50px;
    width: 90%;
    font-size: 70%;
    transition-duration: 0.2s;
}
.card button:hover{
    background-color: rgb(52, 52, 52);
    color: white;
}
#light{
    border-style:solid ;
    background-color: white;
    color: #212529;
}
#light:hover{
    background-color: #212529;
    color: white;
}

.card h4{
    margin:15px;
    font-size:150%;
    font-weight: lighter;
    color: rgb(99, 98, 98);
}
.card h4 b{
    color: black;
}







